/* Colors */
$red: #ff4500;
$green: #006400;
$green-med: #3cb371;
$green-light: #effff2;
$white: #fff;
$grey: #656565;

/* Spacing */
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
