.header {
  // color: $green;
  // background-color: $white;
  color: $white;
  background-color: $green;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;

  & h1 {
    margin: 0;
  }

  &__icon {
    height: 5rem;
    width: 5rem;
    padding-right: .5rem;;
    // fill: $green;
    fill: $white;
    margin-bottom: -1rem;
  }
}