.social-widget {
  position: fixed;
  top: 0;
  right: -11rem;
  display: flex;
  flex-direction: column;

  &__icon-box {
    color: $white;
    padding: 1rem 3rem 1rem 1rem;
    margin-top: .7rem;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    background-color: $red;
    text-decoration: none;
	  box-shadow: 0 1rem 4rem rgba(0,0,0,.2);
    transition: all .3s;

    display: flex;
    align-items: center;

    &:hover {
      background-color: lighten($red, 10%);
      transform: translateX(-9rem)
    }
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: currentColor;
    margin-right: 1rem;
  }
}