
.table {
  width: 90vw;
  max-width: 100rem;
  border: 3px solid darken($green-med, 10%);
  border-top: none;
  border-collapse: collapse;
  color: $grey;

  &__header {
    color: $white;
    background: darken($green-med, 10%);
    
    & th {
      width: 30%;
      padding: 1rem;

      &:first-child {
        width: 40%;
      }
    }
  }

  &__sort-btn {
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color:$green-med;
  }

  &--active {
    background-color:$green-med;
  }
  
  & > span {
    display: none;
  }

  &--active > span {
    display: inline;
  }
}

  td {
    text-align: center;
  }

  &__row:nth-child(odd) {
    background: $white;
  }

  &__row:nth-child(even) {
    background: $green-light;
  }

  &__camper {
    width: 20rem;
    position: relative;
    // padding-right: 6rem;
    margin: 0.8rem auto .4rem auto;
  }

  &__rank,
  &__username {
    color: $white;
    position: absolute;
    z-index: 2;
  }

  &__rank {
    font-size: 1.2rem;
    background: $red;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    top: -.25rem;
    left: 1.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    height: 4rem;
    width: 4rem;
    border: 3px solid $green;
    border-radius: 50%;
    position: relative;
    left: -4.5rem;
  }

  &__username {
    font-size: 1.4rem;
    text-decoration: none;
    background: $green-med;
    border-radius: 100px;
    padding: 4px 8px;
    bottom: 0;
    left: 6.9rem;
  }
}
